* 
  box-sizing: border-box

html 
  font-size: 62.5%

body 
  font-family: Helvetica, Arial, sans-serif
  font-size: $font-size-medium
  line-height: 1.6
  background: $grey
  color: $gold

button 
  cursor: pointer

button:disabled 
  cursor: default

link,
a
  text-decoration: none

.content-container 
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  flex-direction: column
  flex-grow: 1
  margin: 0 auto
  max-width: 80rem
  padding: 0 $l-size





