<div class="content-container__citation-list">
  <h1 class="citation-list__title">Citation List</h1>
  <div class="citation-list__filter">
    <div>
      <input 
        type="text" 
        class="text-input-filter"
        placeholder="Search citation"
        [(ngModel)]="filterString"
      />
      <select class="select-filter" #sort (change)="setSortFilter()">
        <option value="date">Date</option>
        <option value="type">Type</option>
      </select>
    </div>
  </div>
  <div class="citation-list__container">
    <div class="list-header">
      <div class="citation">Citation</div>
      <div class="citation__date">Date</div>
      <div class="citation__type">Type</div>
      <div class="citation__note">Note</div>
      <button class="list-header__button"><i class="fa fa-lg fa-trash" aria-hidden="true"></i></button>
    </div>
    <div>
      <app-citation-list-item
        *ngFor="let citationEl of this.authService.citations | filter:filterString:'citation' | sortBy:modifiedSort; let i = index"
        [citation]="citationEl"
        [index]="i"></app-citation-list-item>
    </div>
  </div>
</div>
