<app-header></app-header>
<div class="content-container">
  <select
    class="select select__dashboard"
    #ohioRoute
    (change)="forwardToOhioCite()">
    <option>Pick an Ohio Court to Cite</option>
    <option *ngFor="let dashboardRouteOhio of dashboardRoutes" [value]="dashboardRouteOhio.route">
      {{ dashboardRouteOhio.court }} - - - {{ dashboardRouteOhio.time }}
    </option>
  </select>
  <a class="select select__dashboard" routerLink="/custom-citation">
    <div>Custom Citation</div>
  </a>
  <a class="select select__dashboard" routerLink="/abbreviate-term">
    <div>Abbreviate Term</div>
  </a>
</div>
