<div>
  <select 
    class="select"
    #month
    value="{{ this.inputsService.month }}"
    (change)="setMonth()">
    <option value="">Month</option>
    <option value="Jan.">January</option>
    <option value="Feb.">Febuary</option>
    <option value="Mar.">March</option>
    <option value="Apr.">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="Aug.">August</option>
    <option value="Sept.">September</option>
    <option value="Oct.">October</option>
    <option value="Nov.">November</option>
    <option value="Dec.">December</option>
  </select>
  <div>
    <input 
      placeholder="Day"
      type="number" 
      class="text-input"
      value="{{ this.inputsService.day }}"
      [(ngModel)]="day"
      (change)="this.inputsService.setDay(day)"  
    />
  </div>
</div>