<div>
  <input 
    placeholder="Ohio Volume"
    type="number"
    class="text-input"
    [(ngModel)]="ohioVolume"
    (change)="sendOhioVolume()"
  >
</div>
<div>
  <select
    class="select" 
    [(ngModel)]="ohioReporter"
    (change)="sendOhioReporter()">
    <option value="">Ohio Reporter</option>
    <option value="Ohio St.3d">Ohio St.3d</option>
    <option value="Ohio St.2d">Ohio St.2d</option>
    <option value="Ohio St.">Ohio St.</option>
  </select>
</div>
<div>
  <input 
    placeholder="Ohio First Page"
    type="number"
    class="text-input"
    [(ngModel)]="ohioFirstPage"
    (change)="sendOhioFirstPage()">
</div>



