<!-- <div>
  <input 
    placeholder="Ohio Volume"
    type="number"
    class="text-input"
    ngModel
    name="ohioVolume"
    required
    #ohioVolume="ngModel"
  >
</div>
<div>
  <select
    class="select"
    ngModel
    required
    name="ohioReporter" 
    >
    <option value="">Ohio Reporter</option>
    <option value="Ohio St.3d">Ohio St.3d</option>
    <option value="Ohio St.2d">Ohio St.2d</option>
    <option value="Ohio St.">Ohio St.</option>
  </select>
</div>
<div>
  <input 
    placeholder="Ohio First Page"
    type="number"
    class="text-input"
    ngModel
    name="ohioFirstPage"
    required
    #ohioFirstPage="ngModel">
</div> -->

<div>
  <input 
    placeholder="Ohio Volume"
    type="number"
    class="text-input"
    value="{{ this.inputsService.ohioVolume }}"
    #ohioVolume
    (change)="setOhioVolume()"
  >
</div>
<div>
  <select
    class="select" 
    value="{{ this.inputsService.ohioReporter }}"
    #ohioReporter
    (change)="setOhioReporter()">
    <option value="">Ohio Reporter</option>
    <option value="Ohio St.3d">Ohio St.3d</option>
    <option value="Ohio St.2d">Ohio St.2d</option>
    <option value="Ohio St.">Ohio St.</option>
  </select>
</div>
<div>
  <input 
    placeholder="Ohio First Page"
    type="number"
    class="text-input"
    value="{{ this.inputsService.ohioFirstPage }}"
    #ohioFirstPage
    (change)="setOhioFirstPage()">
</div>



