<div>
  <input 
    placeholder="Party One"
    autofocus
    type="text"  
    class="text-input" 
    [ngClass]="{partyOne: !this.inputsService.partyOne}"
    value="{{ this.inputsService.partyOne }}" 
    [(ngModel)]="partyOne"
    (change)="this.inputsService.abbreviatePartyOne(partyOne)"
  >
</div>
<div>
  <input 
    placeholder="Party Two"
    type="text"
    class="text-input"
    value="{{ this.inputsService.partyTwo }}" 
    [(ngModel)]="partyTwo"
    (change)="this.inputsService.abbreviatePartyTwo(partyTwo)"
  > 
</div>