<div>
  <input 
    placeholder="Party One"
    autofocus
    type="text"  
    class="text-input" 
    #partyOneValidate="ngModel"
    [ngClass]="{required: !this.inputsService.partyOne && partyOneValidate.touched && partyOneValidate.pristine}"
    value="{{ this.inputsService.partyOne }}" 
    [(ngModel)]="partyOne"
    (change)="this.inputsService.abbreviatePartyOne(partyOne)"
  >
</div>
<div>
  <input 
    placeholder="Party Two"
    type="text"
    class="text-input"
    value="{{ this.inputsService.partyTwo }}" 
    #partyTwoValidate="ngModel"
    [ngClass]="{required: !this.inputsService.partyOne && partyTwoValidate.touched && partyTwoValidate.pristine}"
    [(ngModel)]="partyTwo"
    (change)="this.inputsService.abbreviatePartyTwo(partyTwo)"
  > 
</div>