<!-- <div>
  <input 
    placeholder="Party One"
    autofocus
    type="text"  
    class="text-input"  
    ngModel
    name="partyOne"
    #partyOne="ngModel"
    required
  >
</div>
<div>
  <input 
    placeholder="Party Two"
    autofocus
    type="text"  
    class="text-input"  
    ngModel
    name="partyTwo"
    #partyTwo="ngModel"
    required
  > 
</div> -->
<div>
  <input 
    placeholder="Party One"
    autofocus
    type="text"  
    class="text-input" 
    value="{{ this.inputsService.partyOne }}" 
    #partyOne
    (change)="setPartyOne()"
  >
</div>
<div>
  <input 
    placeholder="Party Two"
    type="text"
    class="text-input"
    value="{{ this.inputsService.partyTwo }}" 
    #partyTwo
    (change)="setPartyTwo()"
  > 
</div>

<!-- <div>
    <input 
      placeholder="Party One"
      autofocus
      type="text"  
      class="text-input"  
      [(ngModel)]="partyOne"
      (change)="setPartyOne(partyOne)"
    >
  </div>
  <div>
    <input 
      placeholder="Party Two"
      type="text"
      class="text-input" 
      [(ngModel)]="partyTwo"
      (change)="setPartyOne(partyOne)"
    > 
  </div> -->