<div>
  <div>
    <input 
      placeholder="Westlaw Number"
      type="number" 
      class="text-input"
      value="{{ this.inputsService.westlaw }}"
      [(ngModel)]="westlaw"
      (change)="this.inputsService.setWestlawDisplay(westlaw)"/>
  </div>
  <div>
    <input 
      placeholder="Lexis Number"
      type="number" 
      class="text-input"
      value="{{ this.inputsService.lexis }}"
      [(ngModel)]="lexis"
      (change)="this.inputsService.setLexisDisplay(lexis)"/>
  </div>
</div>
