<h1>Ohio Supreme Court - Post</h1>
<div class="container">
  <div>
    <app-add-parties
      (partyOneCreated)="partyOne=$event"
      (partyTwoCreated)="partyTwo=$event"></app-add-parties>
  </div>
  <div>
    <app-add-ohio-volume></app-add-ohio-volume>
  </div>
  <div>
    <app-add-regional-volume></app-add-regional-volume>
  </div>
  <div>
    <app-add-webcite></app-add-webcite>
  </div>
  <div>
    <app-add-year></app-add-year>
  </div>
  <div>
    <app-add-pinpoint></app-add-pinpoint>
  </div>
  {{ partyOne }}
  {{ partyTwo }}
</div>