<div class="content-container">
  <div>
    <h2>Ohio Supreme Court</h2>
    <h3>May 1, 2002 and After</h3>
  </div>
  <app-add-parties></app-add-parties>
  <app-add-ohio-volume></app-add-ohio-volume>
  <app-add-regional-volume></app-add-regional-volume>
  <app-add-webcite></app-add-webcite>
  <app-add-year></app-add-year>
  <app-add-pinpoint></app-add-pinpoint>
  <button
    class="button" 
    (click)="this.citationService.createSupremePostCitation()"
    >Cite Case
  </button>
  <app-citation *ngIf="this.citationService.inputsFilled"></app-citation>
</div>