<div class="content-container">
  <div>
    <h2>Ohio Supreme Court</h2>
    <h3>May 1, 2002 and After</h3>
  </div>
  <app-add-parties
    (partyOneCreated)="partyOne = $event"
    (partyTwoCreated)="partyTwo = $event">
  </app-add-parties>
  <app-add-ohio-volume
    (ohioVolumeCreated)="ohioVolume = $event"
    (ohioReporterCreated)="ohioReporter = $event"
    (ohioFirstPageCreated)="ohioFirstPage = $event">
  </app-add-ohio-volume>
  <app-add-regional-volume
    (regionalVolumeCreated)="regionalVolume = $event"
    (regionalReporterCreated)="regionalReporter = $event"
    (regionalFirstPageCreated)="regionalFirstPage = $event">
  </app-add-regional-volume>
  <app-add-webcite
      (webciteCreated)="webcite = $event">
  </app-add-webcite>
  <app-add-year
    (yearCreated)="year = $event">
  </app-add-year>
  <app-add-pinpoint></app-add-pinpoint>
  <button
    class="button" 
    (click)="createCitation(
      partyOne,
      partyTwo, 
      ohioVolume, 
      ohioReporter,
      ohioFirstPage,
      regionalVolume,
      regionalReporter,
      regionalFirstPage,
      webcite,
      year
      )"
    >Cite Case
  </button>
  <p *ngIf="citation"><i>{{ italicizedCitation }}</i>{{ remainingCitation }}</p>
</div>