<div>
  <input 
    placeholder="Ohio Volume"
    type="number"
    class="text-input"
    value="{{ this.inputsService.ohioVolume }}"
    #ohioVolumeValidate="ngModel"
    [ngClass]="{required: !this.inputsService.ohioVolume && ohioVolumeValidate.touched && this.inputsService.noReset}"
    [(ngModel)]="this.inputsService.ohioVolume"
  >
</div>
<div>
  <select
    class="select" 
    value="{{ this.inputsService.ohioReporter }}"
    #ohioReporter
    (change)="setOhioReporter()">
    <option value="">Ohio Reporter</option>
    <option value="Ohio App.3d">Ohio App.3d</option>
    <option value="Ohio App.2d">Ohio App.2d</option>
    <option value="Ohio App.">Ohio App.</option>
  </select>
</div>
<div>
  <input 
    placeholder="Ohio First Page"
    type="number"
    class="text-input"
    value="{{ this.inputsService.ohioFirstPage }}"
    #ohioFirstPageValidate="ngModel"
    [ngClass]="{required: !this.inputsService.ohioFirstPage && ohioFirstPageValidate.touched && this.inputsService.noReset}"
    [(ngModel)]="this.inputsService.ohioFirstPage"
  >
</div>
