<div>
  <div>
    <input required type="number" id="ohioAppVolume" placeholder="Ohio Volume" class="text-input" onChange={props.handleOhioVolume}/>
  </div>
  <div>
    <select required id="ohioAppReporter" class="select">
      <option value="">Ohio Reporter</option>
      <option value="Ohio App.3d">Ohio App.3d</option>
      <option value="Ohio App.2d">Ohio App.2d</option>
      <option value="Ohio App.">Ohio App.</option>
    </select>
  </div>
  <div>
    <input required type="number" id="ohioAppFirstPage" placeholder="Ohio First Page" class="text-input" onChange={props.handleOhioFirstPage}/>
  </div>
</div>
