<app-header></app-header>
<div class="content-container">
  <div>
    <h2>Ohio Court of Appeals</h2>
    <h3>Before May 1, 2002</h3>
    <h4>Non-Print Published</h4>
  </div>
  <app-add-parties></app-add-parties>
  <app-add-district></app-add-district>
  <app-add-county></app-add-county>
  <app-add-westlaw-lexis></app-add-westlaw-lexis>
  <app-add-month-day></app-add-month-day>
  <app-add-year></app-add-year>
  <app-add-pinpoint></app-add-pinpoint>
  <button
    class="button" 
    (click)="this.citationService.createAppealPreNonprintCitation()"
    >Cite Case
  </button>
  <app-citation *ngIf="this.citationService.inputsFilled"></app-citation>
</div>
