<app-header></app-header>
<div class="content-container">
  <form [formGroup]="customCitation" (ngSubmit)="onSubmit()">
    <div>
      <h2>Custom Citation</h2>
    </div>
    <input 
      autoFocus 
      placeholder="Enter Custom Citation" 
      class="text-input" 
      type="text"
      formControlName="citation" 
      [ngClass]="{required: !customCitation.get('citation').valid && customCitation.get('citation').touched}"
    />
    <input  
      placeholder="Add Type (Optional)"
      class="text-input" 
      type="text" 
      formControlName="type" 
    />
    <textarea
      placeholder="Add Note (Optional)" 
      class="text-input"
      formControlName="note">
    </textarea>
    <button 
      class="button"
      [disabled]="!this.customCitation.get('citation').valid"
      >Save
    </button> 
  </form>
</div>
