<div>
  <input 
    placeholder="Regional Volume"
    type="number"
    class="text-input"
    value="{{ this.inputsService.regionalVolume }}"
    #regionalVolumeValidate="ngModel"
    [ngClass]="{required: !this.inputsService.regionalVolume && regionalVolumeValidate.touched && this.inputsService.noReset}"
    [(ngModel)]="this.inputsService.regionalVolume"
  >
</div>
<div>
  <select
    class="select" 
    value="{{ this.inputsService.regionalReporter }}"
    #regionalReporter
    (change)="setRegionalReporter()">
    <option value="">Regional Reporter</option>
    <option value="N.E.3d">N.E.3d</option>
    <option value="N.E.2d">N.E.2d</option>
    <option value="N.E.">N.E.</option>
  </select>
</div>
<div>
  <input 
    placeholder="Regional First Page"
    type="number"
    class="text-input" 
    value="{{ this.inputsService.regionalFirstPage }}"
    #regionalFirstPageValidate="ngModel"
    [ngClass]="{required: !this.inputsService.regionalFirstPage && regionalFirstPageValidate.touched && this.inputsService.noReset}"
    [(ngModel)]="this.inputsService.regionalFirstPage"
  >
</div>