<div>
  <input 
    placeholder="Regional Volume"
    type="number"
    class="text-input" 
    [(ngModel)]="regionalVolume"
    (change)="sendRegionalVolume()"
  >
</div>
<div>
  <select
    class="select" 
    [(ngModel)]="regionalReporter"
    (change)="sendRegionalReporter()">
    <option value="">Regional Reporter</option>
    <option value="N.E.3d">N.E.3d</option>
    <option value="N.E.2d">N.E.2d</option>
    <option value="N.E.">N.E.</option>
  </select>
</div>
<div>
  <input 
    placeholder="Regional First Page"
    type="number"
    class="text-input" 
    [(ngModel)]="regionalFirstPage"
    (change)="sendRegionalFirstPage()">
</div>